html,
body {
    margin: 0;
    padding: 0;
    background-color: #fbfcfc;
}

#header {
    width: 90vw;
    max-width: calc(900px);
    margin: auto;
    display: grid;
    height: 100px;
}

#header .score {
    color: #555;
    font-family: Verdana;
    padding: 0 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    font-size: 4em;

    font-weight: bold;
}

#header .score .label {
    margin: auto 0;
    text-align: left;

}

#header .score .value {
    margin: auto 0;
    text-align: right;
}

#canvasContainer {
    display: flex;
    justify-content: center;
}

canvas {
    display: block;
    height: 90vw;
    width: 90vw;
    max-width: 900px;
    max-height: 900px;
}
